/*--------------------------------------------------------------
Images - reset 
--------------------------------------------------------------*/

img {
    display: block;
    width: 100%;
}

.site-title {
    width: 65px;
    margin-top: 0.2em;
}

#bulb {
    max-width: 50px;
    width: 100%;
    margin: auto;
    padding: 1em 0 0.5em;
}

figure {
    margin: 0;
    padding: 0;
}
