/*--------------------------------------------------------------
Images - reset 
--------------------------------------------------------------*/

img {
    display: block;
    width: 100%;
}

.site-title {
    max-width: 65px;
    width: 100%;
}

.bulb {
    max-width: 50px;
    width: 100%;
    margin: auto;
    padding: 1em 0 0.5em;
}

.pictureMe {
    max-width: 250px;
    width: 100%;
    margin: auto;
    box-shadow: 0px 0px 10px 5px rgb(62, 62, 62);
}

figure {
    margin: 0;
    padding: 0;
}
