/*--------------------------------------------------------------
Layouts
--------------------------------------------------------------*/

body {
    padding: 0;
}


body, .sectionOne {
    background-color: rgb(235, 117, 44);
    color: hsla(260, 6%, 21%, 1);
}

.sectionOne {
    padding: 2em 1em;
    height: 100vh;
}

.sectionTwo {
    background: rgb(5, 94, 142);
    color: white;
    margin: 0;
    padding: 10em 1em;
    text-align: center;}

.sectionThree {
    background: rgb(58, 58, 58);
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 10em 1em;
}

.sectionFour {
    background: rgb(118, 118, 118);
    color: white;
    margin: 0;
    padding: 10em 1em;
}

.footer-area {
    color: white;
    text-align: center;
    padding: 3em 1em;
}
