/*--------------------------------------------------------------
Layouts
--------------------------------------------------------------*/

body {
    background: hsl(0, 0%, 90%);
}
.sectionOne {
    padding: 1em;
    color: hsla(260, 6%, 21%, 1);
}

.sectionTwo {
    background: rgb(107, 104, 111);
    color: white;
    margin: 0;
    padding: 1em;
    text-align: center;}

.sectionThree {
    background: rgb(199, 212, 54);
    color: hsla(260, 6%, 21%, 1);
    margin: 0;
    padding: 1em;
}

.sectionFour {
    background: hsla(260, 6%, 21%, 1);
    color: white;
    margin: 0;
    padding: 1em;
}

.contentForAbout {
    background: hsla(260, 6%, 21%, 1);
    color: white;
    padding: 1.2em;
    line-height: 2em;
}

.sectonAbout {
    color: white;
}

.aboutText {
    font-size: 1.2em;
    padding: 1em;
}

.footer-area {
    text-align: center;
}
