@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$c_offwhite: #f8f3eb;
$c_hotpink: #f40552;
$c_cyan: #8cf3ec;
$f_openSans: 'Open Sans', sans-serif;

a {
    text-decoration: none;
}

#navbar {
    border: 0;
    box-sizing: border-box;
    color: $c_offwhite;
    top: 0;
    height: 60px;
    line-height: 60px;
    width: 100vw;

    ul {
        float: right;
        list-style: none;
        /* margin-right: 14px; */
        margin-top: -2px;
        text-align: right;
        transition: transform 0.5s ease-out;
        -webkit-transition: transform 0.5s ease-out;
        padding: 0;
        margin: auto;
    }
    li {
        display: inline-block;
        font-family: $f_openSans;
        font-size: 1.2em;
    a {
            color: $c_offwhite;
            display: block;
            font-size: 0.7em;
            height: 50px;
            letter-spacing: 1px;
            margin: 0 20px;
            padding: 0 4px;
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
            transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            &:hover {
                color: $c_cyan;
                transition: all 0.3s ease;
                -webkit-transition: all 0.3s ease;
            }
            &:before {
                left: 0;
                transition: 0.5s;
            }
            &:after {
                background: $c_cyan;
                right: 0;
            }
            &:before, &:after {
                content: '';
                position: absolute;
                width: 0%;
                height: 1px;
                bottom: -1px;
                background: $c_cyan;
            }
        }
    }
}

.nav-wrapper {
    margin: auto;
    text-align: center;
    width: 70%;
}

.logo {
    float: left;
    margin-left: 28px;
    font-size: 1.5em;
    height: 60px;
    letter-spacing: 1px;
    text-transform: uppercase;
    a {
        color: $c_offwhite;
        font-family: $f_openSans;
        &:hover {
            color: $c_hotpink;
            transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
        }
    }
}

/* Animated Bottom Line */

#navbar li a:hover:before {
    background: $c_cyan;
    width: 100%;
    transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

#navbar li a:hover:after {
    background: transparent;
    width: 100%;
}

@media screen and (min-width: 300px) and (max-width: 739px) {

.nav-wrapper {
    width: 100%;
}
#navbar {
    ul {
    display: inline-block;
    float: none;
    }
    li {
        font-size: 1.4rem;
    }
}

.game {
    margin-top: 50px;
}
}

@media screen and (min-width: 740px) {

.nav-wrapper {
    width: 90%;
}
#navbar li {
    font-size: 1.8rem;
}
.game {
    margin-top: 0;
}
}