html {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

p {
    margin: 0 auto;
}

section {
    text-align: center;
    color: #EFEFEF;
}

.full-screen {
    height: 100vh;
}

.first {
    width: 100%;
    background-color: rgb(226, 214, 43);
    background-image: url(../images/grass-bg.svg);
    background-position-y: 15rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.position {
    position: relative;
}

.second {
    background-color: rgb(78, 201, 101);
}

.third {
    background-color: rgb(226, 153, 43);
}

.third p:first-child {
    padding-top: 25%;
}
/**********************************************/
.license-h1 {
    margin: 0 auto;
    padding-top: 3rem;
}
/**********************************************/

.animals {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.animal-first {
    width: 20%;
    margin-top: 10%;
}

.site-name {
    margin: 0 auto;
    top: 60%;
    left: 55%;
    transform: translate(-60%, -50%);
    position: absolute;
    font-size: 5rem;
    z-index: 1;
    background: linear-gradient(to right, rgb(255, 136, 32) 20%, rgb(199, 66, 5) 40%, rgb(199, 66, 5) 60%, rgb(255, 136, 32) 80%);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/**********************************************/

.second-h2 {
    font-size: 3rem;
    padding-top: 3rem;
    margin: 0 auto;
}

#btn {
    width: 40%;
    margin-top: 5rem;
    cursor: pointer;
}


.rabbit {
    width: 15%;
    top: -44%;
    position: relative;
    display: none;
    z-index: 1;
}

/**********************************************/
footer {
    display: block;
}
@media (min-width:280px) and (max-width: 480px) {
    .site-name {
        top:35%;
    }
/*     .animal-first {
        width: 30%;
    }
    .first {
        background-position-y: 18rem;
    } */
    .second-h2 {
        padding: 3 0.5rem 0;
        font-size: 2rem;
    }
    #btn {
        width: 80%;
        margin-top: 9rem;
    }
/*     .rabbit {
        width: 30%;
        top: -25%;
    } */
}
@media (max-width:680px) {
    .site-name{
        top:30%;
        left:50%;
    }
    .animal-first {
        width: 40%;
    }
/*     #btn {
        width: 80%;
    } */
}